babel
bleach
ckanapi
django==5.2.12
django-celery-beat 
django-celery-results
django-cors-headers
django-jazzmin
django-qurl-templatetag
django-redis-sessions
inflection
markdown2
nltk
pandas
psycopg2
pytz
PyYAML
redis
SolrClient2
termcolor
Unidecode
uWSGI==2.0.28; sys_platform == 'linux'
#git+https://github.com/thriuin/SolrClient.git@master
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability