babel
bleach
ckanapi
django
django-celery-beat 
django-celery-results
django-cors-headers
django-jazzmin
django-qurl-templatetag
django-redis-sessions
inflection
markdown2
nltk
numpy
psycopg2
pytz
PyYAML
redis
termcolor
Unidecode
uWSGI==2.0.28; sys_platform == 'linux'
#git+https://github.com/thriuin/SolrClient.git@master