{% load i18n %}

<div class="row mrgn-bttm-lg">
    <div class="col-md-12">
        {% if doc.format == 'NTR' %}
            <div class="row">
            <div class="col-md-12"><em>{% trans 'Nothing to report this period'  %}</em></div>
            <div class="col-md-4"><strong>Organization:</strong></div><div class="col-md-8">{% if language == "fr" %}{{ doc.owner_org_fr }}{% else %}{{ doc.owner_org_en }}{% endif %}</div>
            <div class="col-md-4"><strong>{% trans 'Year' %}</strong></div><div class="col-md-8">{{ doc.year }}</div>
            <div class="col-md-4"><strong>{% trans 'Month' %}</strong></div><div class="col-md-8">{% if language == "fr" %}{{ doc.month_fr }}{% else %}{{ doc.month_en }}{% endif %}</div>
            </div>
        {% else %}
            {% if language == 'fr' %}
                <div class="row">
                    <div class="col-md-8"><a href="{{ path_info }}record/{{ doc.id }}"><strong>{% if doc.name %}{{ doc.name | safe }}{% else %}{{ doc.id }}{% endif %}</strong></a></div>
                    <div class="col-md-4 text-right"><strong>{{ doc.total_fr | safe }}</strong></div>
                </div>
                {% if doc.start_date_fr == doc.end_date_fr %}
                    <div class="row">
                        <div class="col-md-8">{{ doc.title_fr | safe }}</div>
                        <div class="col-md-4">{{ doc.start_date_fr }}</div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-md-7">{{ doc.title_fr | safe }}</div>
                        <div class="col-md-5 text-right">De {{ doc.start_date_fr | safe }} <small>á</small> {{ doc.end_date_fr | safe }}</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4 mrgn-tp-md">{% trans 'Destination:' %}</div>
                    <div class="col-md-8 mrgn-tp-md">{{ doc.destination_fr | safe }}</div>
                </div><div class="row">
                    <div class="col-md-4">Organisation :</div>
                    <div class="col-md-8">{{ doc.owner_org_fr | safe }}</div>
                </div><div class="row">
                   <div class="col-md-4">N° de référence :</div>
                   <div class="col-md-8">{{ doc.ref_number | safe }}</div>
              </div>
            {% else %}
                <div class="row">
                    <div class="col-md-8"><a href="{{ parent_path }}record/{{ doc.id }}"><strong>{% if doc.name %}{{ doc.name | safe }}{% else %}{{ doc.id }}{% endif %}</strong></a></div>
                    <div class="col-md-4 text-right"><strong>{{ doc.total_en | safe }}</strong></div>
                {% if doc.start_date_en == doc.end_date_en %}
                    </div><div class="row">
                        <div class="col-md-8 brdr-lft">{{ doc.title_en | safe }}</div>
                        <div class="col-md-4">{{ doc.start_date_en | safe }}</div>
                    </div>
                {% else %}
                    </div><div class="row">
                        <div class="col-md-7">{{ doc.title_en | safe }}</div>
                        <div class="col-md-5 text-right">{{ doc.start_date_en | safe }} <small>to</small> {{ doc.end_date_en | safe }}</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4 mrgn-tp-md">{% trans 'Destination:' %}</div>
                    <div class="col-md-8 mrgn-tp-md">{{ doc.destination_en | safe }}</div>
                </div><div class="row">
                    <div class="col-md-4">Organization:</div>
                    <div class="col-md-8">{{ doc.owner_org_en | safe }}</div>
                </div><div class="row">
                    <div class="col-md-4">Reference No:</div>
                    <div class="col-md-8">{{ doc.ref_number | safe }}</div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>