{% load static %}
{% load humanize %}
{% load i18n %}
{% load search_extras %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->
	<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
            wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>{% block page_title %}{% trans search_title %}{% endblock page_title %}</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- Meta data -->
    {% block meta_tags %}
    <meta name="description" content="{{ search_description }}">
    <meta name="dcterms:creator" content="{% trans 'Treasury Board of Canada Secretariat' %}"/>
    <meta name="dcterms:service" content="OG-GO"/>
    <meta name="dcterms:accessRights" content="2"/>
    <meta name="dcterms:language" content="{{ dcterms_lang }}"/>
    <meta name="dcterms:title" content="{% trans 'Open Government' %}"/>
    {% endblock %}

    <!-- Analytics -->
    {% if analytics_js %}
        <script src="{{ analytics_js }}"></script>
    {% endif %}

    <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/cdts/compiled/soyutils.js"></script>
    <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/cdts/compiled/wet-{{ LANGUAGE_CODE }}.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

    <noscript>
        <!-- Write closure fall-back static file -->
        <!-- {% static 'refTop.html' %}-->
        <!--[if gte IE 9 | !IE ]><!-->
        <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/assets/favicon.ico"
              rel="icon" type="image/x-icon">
        <link rel="stylesheet"
              href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/css/theme.min.css">
        <link rel="stylesheet"
              href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/cdts/cdtsfixes.css">
        <!-- Are you using the application templates? If so add the following CSS file -->
        <!-- <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/cdts/cdtsapps.css">-->
        <!--<![endif]-->
        <!--[if lt IE 9]>
        <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/assets/favicon.ico"
              rel="shortcut icon"/>
        <link rel="stylesheet"
              href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/css/ie8-theme.min.css"/>
        <![endif]-->
        <!--[if lte IE 9]><![endif]-->
        <link rel="stylesheet"
              href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/css/noscript.min.css"/>
        <link rel="stylesheet"
              href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/cdts/cdtsnoscript.css"/>
    </noscript>
    <!-- Write closure template -->
    <script>
        document.write(wet.builder.refTop({}));
    </script>

    {# Include search page specific javascript and css. Location comes from the admin db #}
    {% if header_js_snippet %}<script>{% include header_js_snippet %}</script>{% endif %}
    {% if header_css_snippet %}<style>{% include header_css_snippet %}</style>{% endif %}

    <style>
        mark {
            background-color: yellow;
            font-weight: bold;
        }
    </style>

</head>
<body class="home" vocab="http://schema.org/" typeof="WebPage">
<div id="def-top">
    <!-- Write closure fall-back static file -->
    {% if LANGUAGE_CODE == 'fr' %}
    {% include 'cdts/top-fr.html' %}
    {% else %}
    {% include 'cdts/top-en.html' %}
    {% endif %}
    <!-- Write closure template -->
    {% include breadcrumb_snippet with language_code=language %}

</div>

<main role="main" property="mainContentOfPage" class="container">
    {% block main-content %}
    {% block main-content-title %}
    <h1 property="name" id="wb-cont">{% trans search_title %}</h1>
    {% endblock main-content-title %}

    <section>

    {% include info_message_snippet %}
    {% include about_message_snippet %}

    </section>

    {% block main-content-body %}{% endblock main-content-body %}

    {% endblock main-content %}
    {% block pre-footer %}
    <div id="def-preFooter">
        <!-- Write closure fall-back static file -->
        {% if LANGUAGE_CODE == 'fr' %}
        {% include 'cdts/preFooter-fr.html' %}
        {% else %}
        {% include 'cdts/preFooter-en.html' %}
        {% endif %}
        <!-- Write closure template -->
    </div>
    <script>
        var defPreFooter = document.getElementById("def-preFooter");
        defPreFooter.outerHTML = wet.builder.preFooter({
            showPostContent: false,
            showFeedback: false,
            showShare: false
        });
    </script>
    {% endblock %}
</main>

{% block footer %}
<div id="def-footer">
    <!-- Write closure fall-back static file -->
    {% if LANGUAGE_CODE == 'fr' %}
    {% include 'cdts/footer-fr.html' %}
    {% else %}
    {% include 'cdts/footer-en.html' %}
    {% endif %}
</div>

{% include footer_snippet %}

<!-- Write closure template -->
<script>
    document.write(wet.builder.refFooter({}));
</script>
{% endblock %}

{% if body_js_snippet %}<script>{% include body_js_snippet %}</script>{% endif %}

</body>
</html>

