{% load static %}
{% load humanize %}
{% load i18n %}
{% load search_extras %}
{% language language %} {% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ language }}" dir="ltr"><!--<![endif]-->
	<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
            wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>{% block page_title %}{% translate search_title %}{% endblock page_title %}</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- Meta data -->
    {% block meta_tags %}
    <meta name="description" content="{{ search_description }}">
    <meta name="dcterms:creator" content="{% translate 'Treasury Board of Canada Secretariat' %}"/>
    <meta name="dcterms:service" content="OG-GO"/>
    <meta name="dcterms:accessRights" content="2"/>
    <meta name="dcterms:language" content="{{ dcterms_lang }}"/>
    <meta name="dcterms:title" content="{% translate 'Open Government Portal' %}"/>
    {% endblock %}

    <!-- Analytics -->
    {% include 'search_snippets/site_analytics_head.html' %}

    <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/cdts/compiled/soyutils.js"></script>
    <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/{{ cdts_version }}/cdts/compiled/wet-{{ LANGUAGE_CODE }}.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Polyfill needed while WET still supports IE 11 :-( -->
    <script src="{% static 'search_snippets/index.js' %}"></script>
    <noscript>
        <!-- Write closure fall-back static file -->
        <!-- {% static 'refTop.html' %}-->
    </noscript>
    <!-- Write closure template -->
    <script>
        document.write(wet.builder.refTop({}));
    </script>

    {# Include search page specific javascript and css. Location comes from the admin db #}
    {% if header_js_snippet %}<script>{% include header_js_snippet %}</script>{% endif %}
    {% if header_css_snippet %}<style>{% include header_css_snippet %}</style>{% endif %}
    {% if im_enabled %}
      <!--InvitationManager Files -->
      <link rel="stylesheet" href="{% static 'search_snippets/im/Overlay.css' %}">
      <!-- End InvitationManager Files -->  
    {% endif %}
  
    <style>
        mark {
            background-color: yellow;
            font-weight: bold;
            padding: .0em;
        }
    </style>
</head>

<body class="home page-type-nav" vocab="http://schema.org/" typeof="WebPage">

<div id="def-top">
    <!-- Write closure fall-back static file -->
    {% if LANGUAGE_CODE == 'fr' %}
    {% include 'search_snippets/top-fr.html' %}
    {% else %}
    {% include 'search_snippets/top-en.html' %}
    {% endif %}
    <!-- Write closure template -->
    {% block breadcrumb %}
    {% include breadcrumb_snippet with language_code=language %}
    {% endblock breadcrumb %}

</div>

<main role="main" property="mainContentOfPage" typeof="WebPageElement" class="container">
    {% block main-content %}
    {% block main-content-title %}
    <h1 property="name" id="wb-cont">{% translate search_title %}</h1>
    {% endblock main-content-title %}

    <section>

    {% block info-message-block %}{% include info_message_snippet %}{% endblock info-message-block %}
    {% block about-message-block %}{% include about_message_snippet %}{% endblock about-message-block %}

    </section>

    {% block main-content-body %}{% endblock main-content-body %}

    {% endblock main-content %}
    {% block pre-footer %}
    <div id="def-preFooter">
        <!-- Write closure fall-back static file -->
        {% if LANGUAGE_CODE == 'fr' %}
        {% include 'search_snippets/preFooter-fr.html' %}
        {% else %}
        {% include 'search_snippets/preFooter-en.html' %}
        {% endif %}
        <!-- Write closure template -->
    </div>
    <script>
        var defPreFooter = document.getElementById("def-preFooter");
        defPreFooter.outerHTML = wet.builder.preFooter({
            showPostContent: false,
            showFeedback: false,
            showShare: false
        });
    </script>
    {% endblock %}
</main>

{% block footer %}

{% include footer_snippet %}

{% endblock %}

{% if body_js_snippet %}<script>{% include body_js_snippet %}</script>{% endif %}
{% include 'search_snippets/site_analytics_body_bottom.html' %}
</body>
</html>
{% endlanguage %}

