{% extends "base-cdts.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load search_extras %}

{% block main-content-body %}
<div class="row">
    <div class="col-md-12"><h1>{% translate 'Search Open Government' %}</h1></div>
    <div class="col-md-12 mrgn-tp-lg mrgn-bttm-lg">
        <strong>{% translate 'Available Searches' %}</strong>
    </div>
    <div class="col-md-12">
        <ul class="list-unstyled lst-spcd">
            {% for s in search_list %}
            <li><a href="{{ parent_path }}{{ s.search_id }}/"><strong>{% if LANGUAGE_CODE == 'en' %}{{ s.label_en }}{% else %}{{ s.label_fr }}{% endif %}</strong></a>{% if s.desc_en and LANGUAGE_CODE == 'en' %} - {{ s.desc_en }}{% elif s.desc_fr and LANGUAGE_CODE == 'fr' %} - {{ s.desc_fr }}{% endif %}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock main-content-body %}