{% extends "base-cdts.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load search_extras %}
{% get_current_language as LANGUAGE_CODE %}

{% block main-content-body %}
{% if back_to_url %}
<div class="row">
    <div class="col-md-12"><a class="btn btn-primary" href="{{ back_to_url }}"><span class="glyphicon glyphicon-menu-left"></span> {% translate 'Back to search' %}</a></div>
</div>
{% endif %}
<div class="row mrgn-tp-md">

    {% block main-content-centre %}
        <div class="col-md-12 mrgn-tp-lg">
        <div class="panel panel-info">
            <header class="panel-heading">
                <h5 class="panel-title">{% translate 'Original Record' %}</h5>
            </header>
            <div class="row mrgn-tp-md mrgn-bttm-md mrgn-lft-md mrgn-rght-md">
            {% include search_item_snippet with doc=original_doc %}
            </div>
        </div>
        </div>

        <div class="col-md-12 mrgn-tp-md">
        <div class="panel panel-default">
            <header class="panel-heading">
                <h5 class="panel-title">{% translate 'Similar Records' %}</h5>
            </header>
            <div class="row mrgn-tp-md mrgn-bttm-md mrgn-lft-md mrgn-rght-md">
            {% block main-content-search-items %}
                {% if docs|length > 0 %}
                    {% for doc in docs %}
                        {% include search_item_snippet %}
                    {% endfor %}
                {% else %}
                    {% translate "No similar records were found" %}
                {% endif %}
            {% endblock main-content-search-items %}
            </div>
        </div>
        </div>

        <div class="col-md-12">
         {% block main-content-pagination %}
            <section>
                <ul class="pagination">
                    {% for pg in pagination %}
                        {% if pg == 1 %}
                            {% if currentpage == 1 %}
                                <li class="previous disabled"><a href="#" rel="prev">{% translate 'Previous' %}</a></li>
                            {% else %}
                                <li class="previous"><a href="#" onclick="gotoPage('{{ previous_page }}')">{% translate 'Previous' %} <span class="wb-inv">Go to page {{ previous_page }}</span></a></li>
                            {% endif %}
                            <li{% if currentpage == 1 %} class="active" {% endif %}><a href="#" onclick="gotoPage('1')">1<span class="wb-inv">(current) {% translate 'Go to' %} 1 </span></a></li>
                         {% elif pg == last_page %}
                            <li{% if currentpage == last_page %} class="active"{% endif %}>
                              <a href="#" onclick="gotoPage('{{ last_page }}')">{{ pg }}<span class="wb-inv">(current) {% translate 'Go to' %} 1 </span></a>
                            </li>
                            {% if currentpage == last_page %}
                            <li class="next disabled"><a href="#" rel="next">{% translate 'Next' %}</a></li>
                            {% else %}
                                <li class="next"><a href="#" onclick="gotoPage('{{ next_page }}')">{% translate 'Next' %} <span class="wb-inv">Go to page {{ next_page }}</span></a></li>
                            {% endif %}
                        {% elif pg == 0 %}
                            <li><a href="#" onclick="">...<span class="wb-inv"></span></a></li>
                        {% else %}
                            <li {% if currentpage == pg %}class="active" {% endif %}><a href="#" onclick="gotoPage('{{ pg }}')">{{ pg }} <span class="wb-inv">Go to page {{pg}}</span></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        {% endblock main-content-pagination %}
        </div>
    {% endblock main-content-centre %}
    </div>
{% endblock main-content-body %}
