{% extends "base-cdts.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load search_extras %}

{% block main-content-body %}
<div class="row" xmlns="http://www.w3.org/1999/html">
  <form action="{{ search_path }}" method="post" id="search_form">
  {% block main-centre-search-box %}

    {% csrf_token %}

    <div class="col-md-12 mrgn-bttm-lg mrgn-tp-lg">
        <div style="display: flex; justify-content: center; align-items: baseline">

          <label for="search_text" class="wb-inv">{% translate 'Search' %}</label>
          <input type="text" name="search_text" class="form-control mrgn-lft-sm" id="search_text"
            value="{{ search_text }}" placeholder="{% translate 'Search' %}"
            aria-label="{% translate 'Search text' %}" data-testid="search-text" style="flex: 0.7 0 auto; height: 37px"/>

          <label for="search-button" class="wb-inv">{% translate "Search" %}</label>
          <input type="submit" class="btn btn-primary form-submit mrgn-lft-sm" id="search-button" 
                  aria-label="Search button" style="padding: .4em 1em" name="search" value="{% translate "Search" %}"></input>
        </div>

        <div class="col-md-12"  style="display: flex; justify-content: center; font-size: small">
          <a href="{{ download_ds_url }}" class="btn btn-link" target="_blank" rel="noopener noreferrer">
          <span class="glyphicon glyphicon-new-window text-info"></span> {{ download_ds_text }}</a>

          {# Show the download search results button if there are two or more search results #}
          {% if total_hits > 1 %}
            <button type="submit" class="btn btn-link" name="exportsearch"><span class="fa fa-download"></span> {% translate 'Download Search Results' %}</button>
            <label for="exportsearch" class="wb-inv">{% translate 'Download Search Results' %}</label>  
          {% endif %}

          {% if json_download_allowed %}<a href="{{ json_format_url }}" class="btn btn-link" target="_blank" rel="unsafe-url">
          <span class="glyphicon glyphicon-list text-info"></span>  {% translate 'Link to JSON format' %} </a>{% endif %}
          <a href="{{ help_page }}" class="btn btn-link">
            <span class="glyphicon glyphicon-question-sign"></span> {% translate 'Search Tips' %}</a>                    
        </div>
    </div>

    {% endblock main-centre-search-box %}

    <div class="col-md-8 col-md-push-4">
      {% block main-content-centre %}

        {% block search_results_message %}

        <div class="row mrgn-bttm-lg">
          <div class="col-sm-5 col-xs-12 mrgn-tp-sm" style="justify-content: left">
            {% if not show_all_results %}
              <b>{% blocktrans with result_num=total_hits|apnumber result_s=total_hits|pluralize %}Found <span data-testid="itemsfound">{{result_num}}</span> record{{result_s}}{% endblocktrans %}</b>
            {% else %}
              <b>{% blocktrans with result_num=total_hits|apnumber result_s=total_hits|pluralize %}<span data-testid="itemsfound">{{result_num}}</span> record{{result_s}}{% endblocktrans %}</b>
            {% endif %}
          </div>
          <div class="col-sm-7 col-xs-12">
            <div style="display: flex; justify-content: right">
            <label class="control-label mrgn-rght-md mrgn-tp-sm" for="sort"> {% translate "Order By" %}</label>
            <select class="form-control mrgn-rght-0" style="flex: none;" id="sort" name="sort" value="{{ sort }}">
                {% for option, label in sort_options.items %}
                    <option value="{{ option }}" {% if sort == option %}selected="selected"{% endif %}>{{ label }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        {% endblock search_results_message %}

      <div class="row">
      {% block main-content-search-items %}
        {% for doc in docs %}
            {% include search_item_snippet %}
        {% endfor %}
      {% endblock main-content-search-items %}
      </div>

        {% block main-content-pagination %}
          {% if show_pagination %}

          <!--  @TODO START HERE  -->
          <ul class="pagination">
              {% for pg in pagination %}
                  {% if pg == 1 %}
                    {% if currentpage == 1 %}
                        <li class="previous disabled"><input type="submit" value="{% translate 'Previous' %}" name="prev_page" disabled><label class="wb-inv" for="prev_page">{% translate 'Previous' %}</label></li>
                    {% else %}
                        <li class="previous">
                          <input type="submit" value="{% translate 'Previous' %}" name="pg_prev-{{previous_page}}">
                          <label class="wb-inv" for="pg_prev-{{previous_page}}">Go to page {{ previous_page }}</label></li>
                    {% endif %}
                    <li{% if currentpage == 1 %} class="active" {% endif %}>
                      <input type="submit" value="1" name="pg-1">
                      <label for="pg-1" class="wb-inv">{% translate 'Go to' %} 1 </label></li>
                  {% elif pg == last_page %}
                    <li{% if currentpage == last_page %} class="active"{% endif %}>
                      <input type="submit" value="{{ pg }}" name="pg-{{pg}}">
                      <label for="pg-{{pg}}" class="wb-inv">{% translate 'Go to' %} 1 </label>
                    </li>
                    {% if currentpage == last_page %}
                      <li class="next disabled"><input type="submit" value="{% translate 'Next' %}" disabled></li>
                    {% else %}
                      <li class="next"><input type="submit" value="{% translate 'Next' %}" name="pg_next-{{ next_page }}">
                      <label for="pg_next-{{next_page}}" class="wb-inv">Go to page {{ next_page }}</label></li>
                    {% endif %}
                {% elif pg == 0 %}
                    <li><input type="submit" value="&#8230;" disabled><label class="wb-inv">More pages</label></li>
                  {% else %}
                    <li{% if currentpage == pg %} class="active"{% endif %}><input type="submit" value="{{ pg }}" name="pg-{{pg}}"><label class="wb-inv" for="pg-{{pg}}">Go to page {{pg}}</label></li>
                  {% endif %}
              {% endfor %}
          </ul>
          {% endif %}
        {% endblock main-content-pagination %}
      {% endblock main-content-centre %}
    </div>

    <div class="col-md-4 col-md-pull-8">
      {% block main-content-sidebar %}
      {% if not show_all_results %}
      <aside class="mrgn-lft-md mrgn-bttm-md">
        <button type="submit" class="btn btn-link" name="clearsearch"><span class="fa fa-ban"></span> {% translate 'Clear All Filters' %}</button>
        <label for="clearsearch" class="wb-inv">{% translate 'Clear all the filters' %}</label>  
      </aside>
      {% endif %}
      <aside class="mrgn-lft-md">

        {% for key, value in facets.items %} 

          {% if key in facet_snippets.keys %}
            {% include facet_snippets|get_dict_value:key %}
          {% else %}        
            <details class="panel panel-default mrgn-bttm-0 provisional gc-chckbxrdio"{% if  selected_facets|get_dict_value:key|length > 0 %}open{% endif %}>
              <summary class="panel-heading">
                  <h3 class="panel-title" style="font-size: large">{{ value|get_dict_value:'__label__' }}</h3>
              </summary>
              <ul class="list-group">
              {% if key in reversed_facets %}
              <li>Reversed</li>                
                {% for subkey, subvalue in value.items reversed %}
                    {% if subkey not in system_facet_fields and subvalue > 0 %}
                        <li class="list-group-item" style="padding-left: 0px">
                          <div class="row">
                            <div class="mrgn-tp-0 col-sm-10">
                              {% if key in codes.keys %}
                                <div class="checkbox">
                                  <label for="cb-{{ key }}-{{ subkey }}" style="font-size: 16px;">
                                    <input type="checkbox" id="cb-{{ key }}-{{ subkey }}" name="cb-{{ key }}-{{ subkey }}" value="{{key}}|{{subkey}}"
                                    style="vertical-align:middle;position:relative;top:-1px;height: 16px;width: 16px; font-weight: normal;"
                                    {% if subkey in selected_facets|get_dict_value:key %}checked="checked"{% endif %}>
                                      &nbsp;&nbsp;{{ codes|get_dict_value:key|get_dict_value:subkey }} </div></label>
                                  </label>
                                </div>
                                <div class="col-sm-2" style="padding-left: 0px"><span class="badge">{{ subvalue }}</span></div>
                              {% else %}
                                <div class="checkbox">
                                  <label for="cb-{{ key }}-{{ subkey }}" style="font-size: 16px;">
                                    <input type="checkbox" id="cb-{{ key }}-{{ subkey }}" name="cb-{{ key }}-{{ subkey }}" value="{{key}}|{{subkey}}"
                                    style="vertical-align:middle;position:relative;top:-1px;height: 16px;width: 16px; font-weight: normal;" 
                                    {% if subkey in selected_facets|get_dict_value:key %}checked="checked"{% endif %}>
                                      &nbsp;&nbsp;{{ subkey }} 
                                  </label>
                                </div>

                              {% endif %}
                            </div>
                              <div class="col-sm-2" style="padding-left: 0px"><span class="badge">{{ subvalue }}</span></div>

                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
              {% else %}
                {% for subkey, subvalue in value.items %}
                    {% if subkey not in system_facet_fields and subvalue > 0 %}
                        <li class="list-group-item" style="padding-left: 0px">
                          <div class="row">
                            <div class="mrgn-tp-0 mrgn-bttm-0 col-sm-10">
                                {% if key in codes.keys %}

                                  <label for="cb-{{ key }}-{{ subkey }}" style="font-size: 16px; font-weight: normal;">
                                    <input type="checkbox" id="cb-{{ key }}-{{ subkey }}" name="cb-{{ key }}-{{ subkey }}" value="{{key}}|{{subkey}}"
                                    style="vertical-align:middle;position:relative;top:-1px;height: 16px;width: 16px; font-weight: normal;"
;                                   aria-label="facet-{{ key }}-{{ subkey }}"
                                    {% if subkey in selected_facets|get_dict_value:key %}checked="checked"{% endif %}>
                                      &nbsp;&nbsp;{{ codes|get_dict_value:key|get_dict_value:subkey }}
                                  </label>

                                {% else %}

                                  <label for="cb-{{ key }}-{{ subkey }}" style="font-size: 16px; font-weight: normal;">
                                    <input type="checkbox" id="cb-{{ key }}-{{ subkey }}" name="cb-{{ key }}-{{ subkey }}" value="{{key}}|{{subkey}}"
                                    style="vertical-align:middle;position:relative;top:-1px;height: 16px;width: 16px; font-weight: normal;"
;                                   aria-label="facet-{{ key }}-{{ subkey }}"
                                    {% if subkey in selected_facets|get_dict_value:key %}checked="checked"{% endif %}>
                                      &nbsp;&nbsp;{{ subkey }}
                                  </label>

                                {% endif %}
                              </div>
                            <div class="col-sm-2" style="padding-left: 0px"><span class="badge">{{ subvalue }}</span></div>
                          </div>
                        </li>
                    {% endif %}
                {% endfor %}
              {% endif %}
              </ul>
            </details>
          {% endif %}
        {% endfor %}       
      </aside>

    {% endblock main-content-sidebar %}
  </form>
</div>
{% endblock main-content-body %}

