{% extends "base-cdts.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load search_extras %}

{% block breadcrumb %}
  {% include 'snippets/default_page_breadcrumb.html' with language_code=language %}
{% endblock breadcrumb %}

{% block main-content-title %}
  <h1 property="name" id="wb-cont">Astuces de recherche</h1>
{% endblock main-content-title %}

{% block main-content-body %}
  {% if back_to_url %}
  <div class="row mrgn-tp-md">
      <div class="col-md-12">
          <a class="btn btn-default" href="{{ back_to_url }}"><span class="glyphicon glyphicon-menu-left"></span> {% translate 'Back to search' %}</a>
      </div>
  </div>
  {% endif %}
  <div class="row mrgn-tp-md" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          La fonction de recherche&nbsp;du Portail du gouvernement ouvert&nbsp;permet d'utiliser&nbsp;des symboles et de mots spéciaux appelés "opérateurs booléens", qui peuvent être utilisés pour élargir ou&nbsp;restreindre vos paramètres de recherche. Des exemples sont fournis ci-dessous.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-responsive table-striped">
            <caption class="wb-inv">Opérateurs booléens</caption>
            <thead>
            <tr>
              <th>Opérateur booléen</th>
              <th>Description</th>
              <th>Exemple</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><b>ET</b></td>
              <td>Permet d’obtenir des résultats contenant les deux mots-clés ou tous les mots-clés. Vous pouvez l’utiliser lorsque vous voulez que les résultats de votre recherche contiennent deux termes précis ou plus.</td>
              <td>Eau ET Air</td>
            </tr>
            <tr>
              <td><b>OU</b></td>
              <td>Permet d’obtenir des résultats contenant l’un ou l’autre des mots-clés. Utilisez cet opérateur lorsque vous voulez que les résultats contiennent au moins un des mots-clés que vous avez choisis&nbsp;(ou pas nécessairement les deux).</td>
              <td>Eau OU Air</td>
            </tr>
            <tr>
              <td><b>PAS</b></td>
              <td>Permet d’obtenir des résultats qui contiennent le premier mot-clé, mais pas le deuxième&nbsp;(ou d’autres qui suivent). Il est important de mettre l’opérateur après le premier mot, afin d’exclure les mots-clés qui suivent.</td>
              <td>Eau PAS Mer</td>
            </tr>
            <tr>
              <td><b>Guillemets&nbsp;""</b></td>
              <td>Permettent d’obtenir des résultats qui comprennent un passage exact ou des mots-clés précis.</td>
              <td>"Objectifs de qualité de l'eau"</td>
            </tr>
            <tr>
              <td><b>Parenthèses&nbsp;()</b></td>
              <td>ermettent de regrouper des termes de recherche et de contrôler l’ordre dans lequel ils sont recherchés. Les mots-clés entre parenthèses seront recherchés en premier, suivis de ceux qui ne sont pas entre parenthèses.</td>
              <td>Qualité ET (eau OU air)</td>
            </tr>
            <tr>
              <td><b>Astérisque&nbsp;*</b></td>
              <td>Permet d’obtenir des résultats de recherche qui contiennent une variation d’un mot-clé. Vous pouvez utiliser cet opérateur lorsque vous souhaitez que les résultats de recherche contiennent le mot-clé saisi et d’autres mots qui commencent par les mêmes lettres. Veuillez noter que l’astérisque fonctionne seulement quand il est placé à la fin du mot-clé.</td>
              <td>Financ*</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-12">
            <b>Remarque&nbsp;:</b> Ces mots spéciaux sont sensibles à la casse et doivent être en majuscules. De plus, les résultats de recherche comprennent automatiquement certains mots qui sont liés. Par exemple, le mot-clé&nbsp;<code>exécuter</code>&nbsp;affichera également des résultats contenant&nbsp;<code>exécuté</code>&nbsp;et&nbsp;<code>exécutés</code>.
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
