{% load static %}

		<div id="def-footer">
			<!-- Write closure fall-back static file -->
			<!-- footer-en.html -->
		</div>
		<!-- Write closure template -->
		<script>
			var defFooter = document.getElementById("def-footer");
			defFooter.outerHTML = wet.builder.footer({
				"cdnEnv": "prod"
			});
		</script>
		<!-- Write closure template -->
		<script>
			document.write(wet.builder.refFooter({
				"cdnEnv": "prod"
			}));
		</script>
    {% if im_enabled %}
      <!--InvitationManager Files -->
      <script src="{% static 'search_snippets/im/Overlay.js' %}"></script>
      <script src="{% static 'search_snippets/im/InvitationManager.js' %}"></script>      
      <!-- End InvitationManager Files -->  
    {% endif %}