
{% load i18n %}
{% load search_extras %}

<script>
        var defTop = document.getElementById("def-top");
        defTop.outerHTML = wet.builder.top({
            "lngLinks": [{
                "lang": "{{ language_code | SwapLangCode }}", {% if url_uses_path %}
                "href": "/search/{{ language_code | SwapLangCode }}/{{ search_type }}/record/{{ docs.0.id }}{% if query_path %}/?{{ query_path }}{% endif %}",
                {% else %}
                "href": "https://{% if language_code == 'en' %}{{ url_host_fr }}{% else %}{{ url_host_en }}{% endif %}/{{ url_host_path }}/{{ search_type }}/record/{{ docs.0.id }}{% if query_path %}/?{{ query_path }}{% endif %}",{% endif %}
                "text": "{{ language_code | SwapLangName}}"
            }],
            search: false,
            "breadcrumbs": [{
                "title": "Canada.ca",
                "href": "https://www.canada.ca/{{ language_code }}.html",
            },{
                "title": "{% translate 'Open Government' %}",
                "href": "{% translate 'https://open.canada.ca' %}/{{ LANGUAGE_CODE }}",
            },{
                "title": "{% translate 'Open Information' %}",
                "href": "{% translate 'https://open.canada.ca/en/open-information' %}",
            },{
                "title": "{% translate 'Proactive Disclosure' %}",
                "href": "{% translate 'https://open.canada.ca/en/proactive-disclosure' %}",
            },{
                "title": "{{ search_title }}",
                "href": "{{ parent_path }}",
            }
            ]
        });
    </script>
