{% if GOOGLE_ANALYTICS_GTM_ID %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_ANALYTICS_GTM_ID }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
{% if GOOGLE_ANALYTICS_GA4_ID %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_GA4_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ GOOGLE_ANALYTICS_GA4_ID }}'); </script>
{% endif %}
