
{% load i18n %}
{% load search_extras %}

{% if language == "fr" %}
    <div class="col-md-9 mrgn=tp-md" style="vertical-align: baseline;"><strong>{{ doc.name }} - {{ doc.title_fr }}</strong></div>
    <div class="col-md-3 text-right"><a href="{{ parent_path }}similaire/{{ doc.id }}" style="vertical-align: text-top;"><button type="button" class="btn btn-secondary">{% trans "Show similar records" %}</button></a></div>
    <div class="col-md-4"><strong>Organisation :</strong></div>
    <div class="col-md-8">{{ codes|get_dict_value:"owner_org"|get_dict_value:doc.owner_org }}</div>
    <div class="col-md-4"><strong>But de voyage :</strong></div>
    <div class="col-md-8">{{ doc.purpose_fr }}</div>
    <div class="col-md-4"><strong>Date du voyage :</strong></div>
    {% if doc.end_date_fr != doc.start_date_fr %}
    <div class="col-md-8">De {{ doc.start_date_fr }} á {{ doc.end_date_fr }}</div>
    {% else %}
    <div class="col-md-8">{{ doc.start_date_fr }}</div>
    {% endif %}
    <div class="col-md-4"><strong>Destination :</strong></div>
    <div class="col-md-8">{{ doc.destination_fr }}</div>
    <div class="col-md-4"><strong>Numéro de demande:</strong></div>
    <div class="col-md-8">{{ doc.ref_number }}</div>
    <div class="col-md-12 mrgn-tp-lg">
        <div class="panel panel-info">
            <header class="panel-heading">
                <h5 class="panel-title">Costs</h5>
            </header>
            <table class="table table-responsive-md">
                <caption class="wb-inv">Frais</caption>
                <tbody>
                    <tr><td>Frais aériens</td><td>{{ doc.airfare_fr }}</td></tr>
                    <tr><td>Hébergement</td><td>{{ doc.lodging_fr }}</td></tr>
                    <tr><td>Frais de repas et frais accessoires</td><td>{{ doc.meals_fr }}</td></tr>
                    <tr><td>Autres dépenses</td><td>{{ doc.other_expenses_fr }}</td></tr>
                    <tr><td>Autres frais de transport</td><td>{{ doc.other_transport_fr }}</td></tr>
                    <tr><td><strong>Montant total</strong></td><td><strong>{{ doc.total_fr }}</strong></td></tr>
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="col-md-9 mrgn=tp-md" style="vertical-align: baseline;"><strong>{{ doc.name }} - {{ doc.title_en }}</strong></div>
    <div class="col-md-3 text-right"><a href="{{ parent_path }}similar/{{ doc.id }}" style="vertical-align: text-top;"><button type="button" class="btn btn-secondary">{% trans "Show similar records" %}</button></a></div>
    <div class="col-md-4"><strong>Department:</strong></div>
    <div class="col-md-8">{{ codes|get_dict_value:"owner_org"|get_dict_value:doc.owner_org }}</div>
    <div class="col-md-4"><strong>Purpose:</strong></div>
    <div class="col-md-8">{{ doc.purpose_en }}</div>
    <div class="col-md-4"><strong>Date:</strong></div>
    {% if doc.end_date_en != doc.start_date_en %}
    <div class="col-md-8">{{ doc.start_date_en }} to {{ doc.end_date_en }}</div>
    {% else %}
    <div class="col-md-8">{{ doc.start_date_en }}</div>
    {% endif %}
    <div class="col-md-4"><strong>Destination:</strong></div>
    <div class="col-md-8">{{ doc.destination_en }}</div>
    <div class="col-md-4"><strong>Reference Number:</strong></div>
    <div class="col-md-8">{{ doc.ref_number }}</div>
    <div class="col-md-12 mrgn-tp-lg">
        <div class="panel panel-info">
            <header class="panel-heading">
                <h5 class="panel-title">Costs</h5>
            </header>
            <table class="table table-responsive-md">
                <caption class="wb-inv">Costs</caption>
                <tbody>
                    <tr><td>Airfare</td><td>{{ doc.airfare_en }}</td></tr>
                    <tr><td>Lodging</td><td>{{ doc.lodging_en }}</td></tr>
                    <tr><td>Meals and Incidentals</td><td>{{ doc.meals_en }}</td></tr>
                    <tr><td>Other Expenses</td><td>{{ doc.other_expenses_en }}</td></tr>
                    <tr><td>Other Transportation</td><td>{{ doc.other_transport_en }}</td></tr>
                    <tr><td><strong>Total</strong></td><td><strong>{{ doc.total_en }}</strong></td></tr>
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
